.customers {
    display: flex;
    flex-direction: column;
}

.customer {
    background-color: aliceblue;
    border: 1px dotted darkblue;
    padding: 0.7rem;
    margin: 0.5rem 0;
    width: 250px;
}

.customer__name {
    font-size: larger;
}